#productDetails{
    padding: 5vmax;
    max-width: 100%;
    display: flex;
 
}

#productDetails > div{
    padding: 2vmax;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction : column;
}

.image{
    width: 20vmax;
}


#productDetails > div:last-child {
    align-items: flex-start;
}

.details-1{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.details-2{
    font-size: xx-large;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 70%;
    padding: 1vmax 0;
}



.details-4{
    display: flex;
}

.details-4-1{
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}

.details-4-1 input{
    margin: 0.05vmax;
}

.details-4-2{
    width: 100%;
}



.details-4-1   button{
    padding: 10%;
    background-color: tomato;
    border: none;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    transition: all 0.5s;
}

.details-4-2   button{
    padding: 10%;
    background-color: tomato;
    border: none;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    transition: all 0.5s;
}



.details-4-2 button:hover {
    background-color: rgb(214, 47, 18);
    color: white;
    cursor: pointer;
}
.details-4-1 button:hover{
    background-color: rgb(214, 47, 18);
    color: white;
    cursor: pointer;
}
.details-7 button:hover{
    background-color: rgb(214, 47, 18);
    color: white;
    cursor: pointer;
}

.details-4 input{
    width: 30%;
}

.details-5{
    display: flex;
    margin: 1px;
    align-items: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 70%;
    padding: 1vmax 0;
}




.details-6{
    display: flex;
    margin: 1px;
    align-items: center;
}

.details-7 button{
    width: 130%;
    padding: 1vmax 0;
    padding: 10%;
    background-color: tomato;
    border: none;
    text-decoration: none;
    border-radius: 10%;
    color: white;
    transition: all 0.5s;
}


.noreview{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    text-align: center;
}

.reviewcard{
    border: 1px solid black;
    flex: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20vw;
    margin: 1vmax;
    padding: 3vmax;
    box-shadow: 0 0 5px black;
}

.reviewcard > p{
    font-family: cursive;
    color: grey;

}

.reviewcard > h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.reviewcard > img{
   display: block;
   width: 5vmax;
   margin: auto;
}

.reviews{
    display: flex;
    overflow: auto;
}

.reviewheading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-decoration: underline;
}